/bin
/nbproject/private/
*.class
/dist/
/build/
.sonar
javazoom.jlGui.BasicPlayer - Java Examples_files
nbproject
*.jar
/*.jar
images
.settings
bin
build
mp3
/log
/classes
/log.txt
/reciter-state.txt
/nbdist/